.todos {
  display: flex;
  flex-direction: column;
  padding: 0 10px;
}

.todos span {
  display: flex;
  align-items: center;
  width: 100%;
  height: 40px;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, .2);
  border-radius: 6px;
  padding: 0 10px;
  margin-bottom: 9px;
  background-color: #F5F5F6;
}

.todos span[nav-selected="true"] {
  background-image: linear-gradient(255deg, #9B27AF, #9B27AF);
  color: #FFF;
}

.todos .completed {
  text-decoration: line-through;
}